@import '../../../styles/config/variables';

// Game Stats Table
// -----------------------------------------------------------------+

.team-stats--tabs {
	.team-logo {
		background: $color-white;
		border-radius: 50%;
		display: inline-block;
		margin-right: 0.5rem;
		padding: 5px;

		@media (max-width: $breakpoint-mobile-max) {
			display: none;
		}
	}
}

.team-stats {
	.stats-table--jersey {
		border-right: none;
		min-width: 2.5rem;
		width: 2.5rem;

		@media (max-width: $breakpoint-mobile-max) {
			left: 20px;
		}
	}
	.stats-table--name {
		min-width: 14rem;
		width: 14rem;

		@media (max-width: $breakpoint-mobile-max) {
			left: calc(2.5rem + 20px);
		}
	}

	@media (max-width: $breakpoint-mobile-max) {
		.stats-table--spacer {
			padding-left: calc(16.5rem + 5px);
		}
	}
}



.goalie-stats {
	td {
		//width: 8.33%;

		&.stats-table--jersey {
			//width: 5%;

			//@media (max-width: $breakpoint-tablet-max) {
			//	min-width: 4rem;
			//	width: 4rem;
			//}
		}

		&.stats-table--name {
			//width: 20%;

			//@media (max-width: $breakpoint-tablet-max) {
			//	min-width: 12rem;
			//	width: 12rem;
			//}
		}
	}
}
