// Buttons
// -----------------------------------------------------------------+

.button {
	background: $color-buttonBackground;
	border: none;
	color: $color-buttonText;
	display: inline-block;
	font-family: $font-main;
	font-weight: 600;
	margin: 0 auto 0.5rem;
	padding: 0.5rem 1rem;
	position: relative;
	text-decoration: none;
	transition: all $anim-speed-base ease-in;

	&:hover,
	&:focus {
		background: $color-buttonBackgroundHover;
		color: $color-buttonTextHover;
		text-decoration: none;
	}

	&-text-button {
		background: $color-textButtonBackground;
		color: $color-textButtonText;

		&:hover,
		&:focus {
			background: $color-textButtonBackgroundHover;
			color: $color-textButtonTextHover;
			text-decoration: underline;
		}
	}

	&-with-icon {
		align-items: center;
		display: flex;
		margin: 0;
		padding: 0;
	}
}
