// Buttons
// -----------------------------------------------------------------+

.button {
	background: var(--color-buttonBackground);
	border: none;
	color: var(--color-buttonText);
	display: inline-block;
	font-family: $font-main;
	font-weight: 600;
	margin: 0 auto 0.5rem;
	padding: 0.5rem 1rem;
	position: relative;
	text-decoration: none;
	transition: all $anim-speed-base ease-in;

	&:hover,
	&:focus {
		background: var(--color-buttonBackgroundHover);
		color: var(--color-buttonTextHover);
		text-decoration: none;
	}
}

.text-button {
	background: var(--color-textButtonBackground);
	border: none;
	color: var(--color-textButtonText);
	display: inline-block;
	font-family: $font-main;
	font-weight: 600;
	margin: 0 auto 0.5rem;
	padding: 0.5rem 1rem;
	position: relative;
	text-decoration: none;
	transition: all $anim-speed-base ease-in;

	&:hover,
	&:focus {
		background: var(--color-textButtonBackgroundHover);
		color: var(--color-textButtonTextHover);
		text-decoration: underline;
	}
}

.flex-button {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
}
