// Team/Player Stats Tables
// -----------------------------------------------------------------+

.stats-table {
	width: 100%;

	@media (max-width: $breakpoint-mobile-max) {
		overflow-x: auto;
	}

	table {
		background: $color-white;
		font-size: 0.875rem;
		margin: 0;
		text-align: right;
		width: 100%;
	}

	tr {
		border-bottom: 1px solid $color-grey-med;
		position: relative;

		&:hover {
			> td {
				background: $color-grey-light;
			}
		}

		&.total {
			td {
				background: $color-grey-med;
				font-weight: 600;
			}
		}
	}

	th,
	td {
		min-width: 2rem;
		padding: 5px;
		vertical-align: middle;
		white-space: nowrap;
	}

	th {
		background: $color-grey-med;
		font-weight: 600;
	}

	td {
		background: $color-white;
		font-weight: 500;
	}

	&--pinned {
		@media (max-width: $breakpoint-mobile-max) {
			border-right: 1px solid $color-grey-med;
			position: absolute;
			min-width: 7rem;
			width: 7rem;
		}
	}

	&--spacer {
		@media (max-width: $breakpoint-mobile-max) {
			padding-left: 8rem;
		}
	}
}

