// Team/Player Stats Tables
// -----------------------------------------------------------------+

.stats-table {
	width: 100%;

	@media (max-width: $breakpoint-mobile-max) {
		overflow-x: auto;
	}

	table {
		background: $color-white;
		font-size: 0.875rem;
		margin: 0;
		text-align: right;
		width: 100%;
	}

	tr {
		border-bottom: 1px solid $color-grey-med;
		position: relative;

		&:hover {
			> td {
				background: $color-grey-light;
			}
		}

		&.total {
			td {
				background: $color-grey-med;
				font-weight: 600;
			}
		}
	}

	th,
	td {
		min-width: 2rem;
		padding: 5px;
		vertical-align: middle;
		white-space: nowrap;
	}

	th {
		background: $color-grey-med;
		font-weight: 600;
	}

	td {
		background: $color-white;
		font-weight: 500;
	}

	td,
	th {
		&.stats-table--pinned {
			@media (max-width: $breakpoint-mobile-max) {
				border-right: 1px solid $color-grey-med;
				position: absolute;
				min-width: 7rem;
				width: 7rem;
			}
		}

		&.stats-table--jersey {
			border-right: none;
			min-width: 2.5rem;
			width: 2.5rem;

			@media (max-width: $breakpoint-mobile-max) {
				left: 20px;
			}
		}

		&.stats-table--name {
			min-width: 14rem;
			width: 14rem;

			@media (max-width: $breakpoint-mobile-max) {
				left: calc(2.5rem + 20px);
			}
		}

		&.stats-table--spacer {
			@media (max-width: $breakpoint-mobile-max) {
				padding-left: 8rem;
			}
		}

		&.stats-table--spacer-wide {
			@media (max-width: $breakpoint-mobile-max) {
				padding-left: calc(16.5rem + 5px);
			}
		}
	}
}

