
// Team Branding
// -----------------------------------------------------------------+

.team-color {
	color: var(--color-backgroundPrimary);
}

.team-background {
	background-color: var(--color-backgroundPrimary);
	color: var(--color-backgroundPrimaryText);
}

.team-border {
	border-color: var(--color-backgroundPrimary);
}
