// Tooltip
// -----------------------------------------------------------------+

.tooltip {
	cursor: default;

	@media (min-width: $breakpoint-tablet-min) {
		position: relative;
	}

	.tooltip-content {
		background: $color-tooltipBackground;
		border-radius: 3px;
		color: $color-tooltipText;
		font-size: 0.625rem;
		font-weight: 500;
		left: 50%;
		opacity: 0;
		padding: 0.25em 0.5em;
		position: absolute;
		top: 90%;
		transform: translateX(-50%);
		transition: all $anim-speed-base $anim-ease;
		visibility: hidden;
		white-space: nowrap;
		z-index: $z-index-default;
	}

	&:hover,
	&:focus {
		@media (max-width: $breakpoint-mobile-max) {
			position: relative; // prevent overlapping pinned headers on stat tables
		}

		.tooltip-content {
			opacity: 1;
			visibility: visible;
		}
	}
}
