
// Tooltip
// -----------------------------------------------------------------+

.tooltip {
  cursor: default;
	position: relative;

	.tooltip-content {
		background: rgba($color-black, 0.8);
		border-radius: 3px;
		color: $color-white;
		font-size: 0.625rem;
		font-weight: 500;
		left: 50%;
		opacity: 0;
		padding: 0.25em 0.5em;
		position: absolute;
		top: 90%;
		transform: translateX(-50%);
		transition: all $anim-speed $anim-ease;
		visibility: hidden;
		white-space: nowrap;
		z-index: $z-index-default;
	}

	&:hover,
	&:focus {
		.tooltip-content {
			opacity: 1;
			visibility: visible;
		}
	}
}
