
// Breakpoint Indicator
// -----------------------------------------------------------------+
// An element that changes z-index when a breakpoint is crossed
// Used in conjunction with /scripts/utilities/BreakpointChange.js

#breakpoint-indicator {
	height: 1px;
	left: -1px;
	position: absolute;
	top: -1px;
	width: 1px;
	z-index: 1;

	// Tablet+
	@media (min-width: $breakpoint-tablet-min) {
		z-index: 2;
	}

	// Desktop+
	@media (min-width: $breakpoint-desktop-min) {
		z-index: 3;
	}
}
