
// Config Variables
// -----------------------------------------------------------------+

// Color Palette
$color-white: #fff;
$color-grey100: #efefef;
$color-grey300: #ddd;
$color-grey500: #666;
$color-grey700: #333;
$color-grey900: #222;
$color-black: #000;

// Paths
$image-path: '/assets/images';
$font-path: '/assets/fonts';

// Fonts
$font-main: 'Montserrat', Helvetica, Arial, sans-serif;

// Animations - maps to config/Animation.js
$anim-speed-fast: 150ms;
$anim-speed-base: 300ms;
$anim-speed-slow: 500ms;

$anim-ease: ease-out;

// Media Queries
$breakpoint-mobile-max: 767px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1023px;
$breakpoint-desktop-min: 1024px;
$breakpoint-desktop-wide: 1260px;

// Grid
$grid-gutter-width: 2rem;
$grid-margin-width: 2rem;

// Spacing
$space-base-horizontal: $grid-gutter-width;
$space-base-vertical: $grid-gutter-width;

// Container Sizes
$container-width-mobile: 360px;
$container-width-tablet: 750px;
$container-width-desktop: 970px;
$container-width-desktop-wide: 1260px;

// z-index
$z-index-default: 1;
$z-index-header: 2;
$z-index-skip-link: 3;
$z-index-drawer-overlay: 4;
$z-index-drawer: 5;
$z-index-modal-overlay: 6;
$z-index-modal-window: 7;
