@import '../../../styles/config/mixins';
@import '../../../styles/config/variables';

// Base styles
// -----------------------------------------------------------------+

#svg-defs {
	@include offscreen();
}

.svg-icon {
	display: inline-block;
	fill: var(--color-text);
	height: 1rem;
	line-height: 1rem;
	transition: all $anim-speed-base $anim-ease;
	vertical-align: middle;
	width: 1rem;
}

.team-logo {
	display: block;
	fill: unset;
	height: 50px;
	width: 50px;
}
