@import '../../../styles/config/variables';

.video-carousel {

	&--player {
		background: var(--color-videoPlayerBackground);
		display: block;
		height: 0;
		overflow: hidden;
		padding-top: 56.25%;
		position: relative;
		width: 100%;
	}

	.video,
	.video-trigger {
		background: var(--color-videoPlayerBackground);
		border: 1px solid var(--color-border);
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&--thumbs {
		background: var(--color-videoCarouselThumbBackground);
		border: 1px solid var(--color-border);
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
		white-space: nowrap;
		width: 100%;

		&-item {
			min-width: 24%;
			position: relative;
			width: 24%;

			@media (max-width: $breakpoint-mobile-max) {
				min-width: 45%;
				width: 45%;
			}

			&.is-active {
				background: var(--color-videoCarouselThumbBackgroundActive);
				border-left: 1px solid var(--color-videoCarouselBorder);
				border-right: 1px solid var(--color-videoCarouselBorder);
				cursor: default;

				&:before {
					border-bottom: 15px solid var(--color-videoCarouselBorderActive);
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					content: '';
					height: 0;
					left: 50%;
					position: absolute;
					top: 0;
					transform: translate(-50%, 0);
					width: 0;
					z-index: $z-index-default;
				}

				&:first-child {
					border-left: none;
				}

				&:last-child {
					border-right: none;
				}

				.video-trigger {
					color: var(--color-videoCarouselThumbTextActive);
					cursor: default;
					text-decoration: none;
				}

				.video-poster {
					border-color: var(--color-videoCarouselBorderActive);
					filter: brightness(1);
					outline: 3px solid var(--color-videoCarouselBorderActive);
				}

				.video-play-icon {
					display: none;
				}

				.video-title {
					color: var(--color-videoCarouselThumbTextActive);

					&:hover,
					&:focus {
						color: var(--color-videoCarouselThumbTextActive);
					}
				}
			}
		}

		.video-trigger {
			background: none;
			border: none;
			height: auto;
			padding: 1rem 1rem 0.5rem;
			position: relative;
		}

		.video-poster {
			border: 1px solid var(--color-border);
			position: relative;
		}

		.video-play-icon {
			height: 4rem;
			transform: translate(-50%, calc(-50% - 0.5rem));
			width: 4rem;

			@media (max-width: $breakpoint-mobile-max) {
				height: 3rem;
				width: 3rem;
			}
		}

		.video-title {
			background: none;
			color: var(--color-videoCarouselThumbText);
			font-size: 0.75rem;
			padding: 0.25rem 0;
			position: relative;
			z-index: auto;
		}
	}
}
