@import '../../../styles/config/variables';

// Stars of the Game
// -----------------------------------------------------------------+

.stars {
	background: $color-white;
	border-bottom: 1px solid $color-grey-med;
	display: flex;
	flex-direction: column;
	margin-bottom: $space-base-vertical;
	width: 100%;

	@media (min-width: $breakpoint-desktop-min) {
		margin-bottom: 0;
		margin-right: $space-base-horizontal;
		width: calc(60% - #{$space-base-horizontal});
	}
}

.stars-content {
	display: flex;
	flex-direction: row;
	padding: 1em;
	width: 100%;

	@media (max-width: $breakpoint-mobile-max) {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

.stars-player {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: center;

	.player-photo {
		margin-bottom: 0.5em;

		@media (max-width: $breakpoint-mobile-max) {
			display: block;
		}
	}

	.stars-name {
		font-weight: 700;
		width: 100%;

		@media (max-width: $breakpoint-mobile-max) {
			line-height: 1.2;
		}

		.stars-team-name {
			font-weight: normal;
			padding-left: 0.5em;

			@media (max-width: $breakpoint-mobile-max) {
				display: block;
				line-height: 1.5;
				padding-left: 0;
			}
		}
	}

	.stars-stat {
		font-size: 0.75rem;
	}
}
