@import '../../../styles/config/variables';

// Game Stats Table
// -----------------------------------------------------------------+

.game-stats {
  margin-bottom: 0;

  table {
    text-align: center;
  }

  th,
  td {
    @media (max-width: $breakpoint-mobile-max) {
      height: 40px;
      min-width: 50px;
      padding: 5px;
      width: 50px;

      &:first-child {
        height: 39px;
        min-width: 60px;
        width: 60px;
      }

      &.stats-table--spacer {
        padding-left: 65px;
      }
    }
  }

  th {
    font-weight: 400;

    @media (max-width: $breakpoint-mobile-max) {
      height: 30px;
    }
  }

  td {
    font-weight: 600;

		@media (min-width: $breakpoint-desktop-min) {
			&.game-stats--team {
				padding-left: 1.5rem;
			}
		}

    @media (min-width: $breakpoint-tablet-min) {
      font-size: 1.5rem;
    }
  }

  &--team {
    white-space: nowrap;

    @media (min-width: $breakpoint-desktop-min) {
			text-align: left;
      width: 20%;
    }

    .team-logo {
      display: inline-block;
      vertical-align: middle;

      @media (max-width: $breakpoint-mobile-max) {
        height: 30px;
        width: 30px;
      }
    }

    &-name {
      display: inline-block;
      padding-left: 0.5em;
      vertical-align: middle;

      @media (max-width: $breakpoint-tablet-max) {
        display: none;
      }
    }
  }
}
