@import '../../../styles/config/variables';

// ScoreBoard & Stars container
// -----------------------------------------------------------------+

.scoreboard-stars {
	margin: $space-base-vertical auto;

	@media (min-width: $breakpoint-desktop-min) {
		display: flex;
		flex-direction: row-reverse;
	}
}

// ScoreBoard
// -----------------------------------------------------------------+

.scoreboard {
	background: $color-backgroundContent;
	border-bottom: 1px solid $color-border;
	display: flex;
	flex-direction: column;
	margin: 0 auto $space-base-vertical;
	width: 100%;

	@media (min-width: $breakpoint-desktop-min) {
		margin-bottom: 0;
		width: 40%;
	}

	.scoreboard-results {
		display: flex;
		flex-direction: row;
		font-size: 1.125rem;
		padding: 0.5em 1em;
		width: 100%;

		> :last-child {
			font-weight: 700;
		}
	}

	.scoreboard-teams {
		flex: 3;
		font-weight: 600;
	}

	.scoreboard-periods {
		flex: 1;

		.scoreboard-item {
			text-align: center;
		}
	}

	.scoreboard-item {
		border-bottom: 1px solid $color-border;
		height: 50px;
		line-height: 30px;
		padding: 10px 0;
		white-space: nowrap;

		span {
			display: inline-block;
			vertical-align: middle;
		}

		.team-logo {
			display: inline-block;
			height: 30px;
			margin-right: 0.5em;
			vertical-align: middle;
			width: 30px;
		}

		&:first-child {
			color: $color-textLight;
			font-size: 0.875rem;
			line-height: 1.2;

			@media (max-width: $breakpoint-mobile-max) {
				height: auto;
			}
		}

		&:last-child {
			border-bottom: none;
		}
	}
}
