@import '../../../styles/config/variables';
@import '../../../styles/config/mixins';

// Schedule Nav Bar
// -----------------------------------------------------------------+

.schedule-nav {
	align-items: center;
	background: $color-grey-dark;
	border: 1px solid $color-grey-dark;
	display: flex;
	flex-wrap: wrap;
	line-height: 2rem;
	margin-bottom: 3em;

	&--items {
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		font-weight: 700;
		margin-bottom: 0;
		text-align: center;
		text-transform: uppercase;
	}

	&--item {
		display: flex;
		flex: 1;
		margin: 0;
	}

	&--prev,
	&--next {
		max-width: 2rem;

		.svg-icon {
			fill: $color-white;
			height: 1.5rem;
			width: 1.5rem;
		}
	}

	&--link {
		background: $color-grey-dark;
		border: none;
		color: $color-white;
		display: block;
		font-size: 0.875rem;
		padding: 0;
		text-decoration: none;
		transition: all $anim-speed-base $anim-ease;
		width: 100%;

		&:hover,
		&:focus {
			background: $color-grey-light;
			color: $color-grey-dark;
			outline: none;

			.svg-icon {
				fill: $color-grey-dark;
			}
		}

		&.is-active {
			background: $color-white;
			color: $color-grey-dark;
			cursor: default;
		}
	}
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
	display: flex;
}

.react-datepicker__navigation {
	@include text-hide;
	height: 0;
}

.datepicker-trigger {
	align-items: center;
	background: $color-grey-dark;
	border: none;
	color: $color-white;
	display: flex;
	font-weight: 700;
	height: 100%;
	min-height: 2rem;
	text-transform: uppercase;
	transition: all $anim-speed-base $anim-ease;

	.svg-icon {
		fill: $color-white;
		height: 1.5rem;
		width: 1.5rem;
	}

	&:hover,
	&:focus {
		background: $color-grey-light;
		color: $color-grey-dark;
		outline: none;

		.svg-icon {
			fill: $color-grey-dark;
		}
	}
}

