@import '../../../styles/config/variables';
@import '../../../styles/config/animations';

.tabs {
	&--nav {
		background: var(--color-tabButtonBackground);
		color: var(--color-tabButtonText);
		display: flex;
		font-size: 1rem;
		justify-content: center;
		margin-bottom: 0;
		padding: 0;
		width: 100%;

		&-item {
			margin: 0;
			padding: 0;
		}

		&-link {
			background: var(--color-tabButtonBackground);
			border: none;
			color: var(--color-tabButtonText);
			font-size: 1rem;
			font-weight: 700;
			margin: 0;
			padding: 1rem;
			transition: all $anim-speed-base ease-in;

			&:hover,
			&:focus {
				background: var(--color-tabButtonBackgroundHover);
				color: var(--color-tabButtonTextHover);
				outline: none;
			}

			&.is-active {
				background: var(--color-tabButtonBackgroundActive);
				color: var(--color-tabButtonTextActive);

				&:hover,
				&:focus {
					background: var(--color-tabButtonBackgroundActive);
					color: var(--color-tabButtonTextActive);
					cursor: default;
				}
			}
		}
	}

	&--content {
		display: none;
		overflow-x: hidden;

		@media (max-width: $breakpoint-tablet-max) {
			overflow-x: auto;
		}

		&.is-active {
			animation: fade-in $anim-speed-base forwards $anim-ease;
			display: block;
			opacity: 0;
		}
	}

	&.tabs-small {
		.tabs--nav {
			margin-bottom: 1rem;

			&-link {
				font-size: 0.875rem;
				padding: 0.5rem 0.75rem;
			}
		}
	}
}
