@import '../../../styles/config/variables';

.tabs {
  &--nav {
    background: $color-grey-dark;
    color: $color-white;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
    width: 100%;

    &-item {
      margin: 0;
      padding: 0;
    }

    &-link {
      background: none;
      border: none;
      color: $color-white;
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
      padding: 1rem;
      transition: all $anim-speed ease-in;

      &:hover,
      &:focus {
        background: $color-grey-med-dark;
      }

      &.is-active {
        background: $color-grey;
      }
    }
  }

  &--content {
    display: none;

    &.is-active {
      display: block;
      opacity: 0;
    }
  }
}
