@import '../../../styles/config/variables';
@import '../../../styles/config/animations';

.tabs {
	&--nav {
		background: $color-tabButtonBackground;
		color: $color-tabButtonText;
		display: flex;
		font-size: 1rem;
		justify-content: center;
		margin-bottom: 0;
		padding: 0;
		width: 100%;

		&-item {
			margin: 0;
			padding: 0;
		}

		&-link {
			background: $color-tabButtonBackground;
			border: none;
			color: $color-tabButtonText;
			font-size: 1rem;
			font-weight: 700;
			margin: 0;
			padding: 1rem;
			transition: all $anim-speed-base ease-in;

			&:hover,
			&:focus {
				background: $color-tabButtonBackgroundHover;
				color: $color-tabButtonTextHover;
				outline: none;
			}

			&.is-active {
				background: $color-tabButtonBackgroundActive;
				color: $color-tabButtonTextActive;

				&:hover,
				&:focus {
					background: $color-tabButtonBackgroundActive;
					color: $color-tabButtonTextActive;
					cursor: default;
				}
			}
		}
	}

	&--content {
		display: none;
		overflow-x: hidden;

		@media (max-width: $breakpoint-tablet-max) {
			overflow-x: auto;
		}

		&.is-active {
			animation: fade-in $anim-speed-base forwards $anim-ease;
			display: block;
			opacity: 0;
		}
	}

	&.tabs-small {
		.tabs--nav {
			margin-bottom: 1rem;

			&-link {
				font-size: 0.875rem;
				padding: 0.5rem 0.75rem;
			}
		}
	}
}
