@import '../../../styles/config/variables';

// Default styles
// -----------------------------------------------------------------+
.drawer {
	display: inline;

	&--trigger {
		background: none;
		border: none;
		font-size: inherit;
		font-weight: 600;
		margin: 0;
		padding: 0;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		.svg-icon {
			margin-left: 0.5rem;
		}
	}

	&--overlay {
		align-items: center;
		background: none;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: $z-index-drawer-overlay;
	}

	&--container {
		background: none;
		display: block;
		height: 100vh;
		overflow-y: auto;
		padding: 0 0 0 3rem;
		position: fixed;
		right: -100%;
		top: 0;
		// update drawer setTimout if changing $anim-speed-slow
		transition: all $anim-speed-slow $anim-ease;
		width: calc(100vw - 1rem);
		z-index: $z-index-drawer;

		@media (min-width: $breakpoint-tablet-min) {
			width: 60vw;
		}

		@media (min-width: $breakpoint-desktop-min) {
			max-width: 500px;
			width: 50vw;
		}

		&.is-active {
			right: 0;
		}
	}

	&--close {
		background: $color-grey-med;
		border: none;
		border-bottom-left-radius: 50%;
		border-top-left-radius: 50%;
		height: 2.5rem;
		left: 0.5rem;
		padding: 0 0 0 0.4rem;
		position: absolute;
		top: 1rem;
		width: 2.5rem;

		.svg-icon {
			fill: $color-grey-dark;
			height: 50%;
			width: 50%;
		}

		&:hover,
		&:focus {
			.svg-icon {
				fill: $color-link-hover;
			}
		}
	}

	&--content {
		background: $color-grey-med;
		box-shadow: 0 0 1rem rgba($color-black, 0.5);
		display: block;
		height: 100%;
		max-height: 100%;
		overflow-y: auto;
		padding: $gutter-width;
	}
}
