@import '../../../styles/config/variables';

// League standings drawer
// -----------------------------------------------------------------+

.standings {

	h2 {
		font-size: 1.25rem;
	}

	&--tabs {
		.tabs--nav {
			margin-bottom: 1rem;

			&-link {
				font-size: 0.875rem;
				padding: 0.5rem 1rem;
			}
		}
	}

	&--group {
		overflow-x: visible;
	}

	table {
		font-size: 0.75rem;
	}

	th,
	td {
		padding: 0.25rem;

		@media (max-width: $breakpoint-mobile-max) {
			min-width: auto;
			width: auto;
		}

		&.standings--team {
			width: 45%;

			.team-logo {
				display: inline-block;
				height: 25px;
				vertical-align: middle;
				width: 25px;
			}

			.standings--team-name {
				display: inline-block;
				padding-left: 0.5em;
				vertical-align: middle;
			}
		}

		&:first-child {
			padding-left: 0.5rem;
		}

		&:last-child {
			padding-right: 1rem;
		}
	}

	th {
		background: $color-grey-dark;
		color: $color-white;
	}

	&--conference {
		margin-bottom: 2rem;
	}
}
