@import '../../../styles/config/variables';

// Default styles
// -----------------------------------------------------------------+
.modal {
	display: inline;

	&--trigger {
		font-size: inherit;
		font-weight: inherit;
		margin: 0;
		padding: 0;
	}

	&--overlay {
		align-items: center;
		background: var(--color-overlay);
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: $z-index-modal-overlay;
	}

	&--container {
		background: none;
		display: flex;
		flex-direction: column;
		height: auto;
		max-height: 90vh;
		max-width: $container-width-desktop-wide;
		min-height: 400px;
		overflow-y: auto;
		padding: 0;
		position: relative;
		width: 90%;
		z-index: $z-index-modal-window;
	}

	&--close {
		align-self: flex-end;
		height: 2rem;
		margin: 0 0 0.5rem;
		padding: 0.25rem;
		width: 2rem;

		.svg-icon {
			fill: var(--color-modalCloseText);
			height: 100%;
			width: 100%;
		}

		&:hover,
		&:focus {
			.svg-icon {
				fill: var(--color-modalCloseTextHover);
			}
		}
	}

	&--content {
		background: var(--color-modalBackground);
		display: block;
		max-height: 100%;
		overflow-y: auto;
		padding: $grid-gutter-width;
	}
}
