@import '../../../styles/config/variables';

// Player Detail Modal
// -----------------------------------------------------------------+
.player-detail {
	&--hero {
		background: center center no-repeat;
		background-size: cover;
		display: block;
		height: 0;
		padding-top: 33.3%;
		position: relative;
		width: 100%;
	}

	&--bio {
		background: $color-grey-med;
		border-bottom: 4px solid $color-white;
		border-top: 4px solid $color-white;
		display: flex;
		font-weight: 400;
		padding: 1rem;
		position: relative;
		text-align: left;

		@media (max-width: $breakpoint-mobile-max) {
			flex-direction: column;
		}

		&-info {
			flex: 1;
		}

		&-name {
			font-size: 2rem;
			font-weight: 700;

			@media (max-width: $breakpoint-mobile-max) {
				font-size: 1.5rem;
			}
		}

		&-stat {
			display: inline-block;
			margin: 0 1rem 0.25rem 0;
		}

		&-label {
			font-weight: 600;
		}
	}

	.player-photo {
		border-width: 5px;
		height: 12rem;
		margin: -3rem 2rem 0 1rem;
		width: 12rem;

		@media (max-width: $breakpoint-mobile-max) {
			border-width: 3px;
			height: 4rem;
			width: 4rem;
		}

		&:hover,
		&:focus {
			border-color: $color-grey-med;
		}
	}

	@media (max-width: $breakpoint-mobile-max) {
		.stats-table--pinned {
			min-width: 7rem;
			width: 7rem;
		}

		.stats-table--spacer {
			padding-left: 8rem;
		}
	}
}
