@import '../../../styles/config/variables';

// Game Detail Header
// -----------------------------------------------------------------+

.game-header {
  align-items: center;
  background: $color-white;
  border-bottom: 1px solid $color-grey-med;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;

  @media (max-width: $breakpoint-mobile-max) {
    padding: 1em 0;
  }

  .col {
    align-items: center;
    display: flex;
    flex: 2;
    flex-direction: row;
    line-height: 2;
    padding: 0 1rem;

    @media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
      padding: 0 2rem;
    }

    &.game-header-team {
      @media (min-width: $breakpoint-tablet-min) {
        justify-content: flex-end;
      }
    }

    &.away {
      order: 1;

      @media (min-width: $breakpoint-tablet-min) {
        text-align: right;
      }

      @media (max-width: $breakpoint-tablet-max) {
        order: 2;
      }
    }

    &.home {
      order: 3;
      text-align: left;

      @media (min-width: $breakpoint-tablet-min) {
        flex-direction: row-reverse;
      }
    }

    &.game-header-date-info {
      flex: 1;
      flex-direction: column;
      justify-content: center;
      line-height: 1.5;
      order: 2;
      white-space: nowrap;

      @media (max-width: $breakpoint-tablet-max) {
        flex-basis: 100%;
        order: 1;
      }

      .game-header-time {
        font-weight: 700;
      }
    }
  }

  .game-header-team-info {
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding: 0 2em;

    @media (max-width: $breakpoint-mobile-max) {
      flex: 1;
      line-height: 1.2;
      padding: 0 1em;
    }

    .game-header-city {
      text-transform: uppercase;

      @media (max-width: $breakpoint-mobile-max) {
        font-size: 0.875rem;
        text-align: left;
      }
    }

    .game-header-name {
      font-size: 2rem;
      font-weight: 700;

      @media (max-width: $breakpoint-mobile-max) {
        font-size: 1.5rem;
      }
    }
  }

  .game-header-score {
    font-size: 3rem;
    line-height: 1;

    @media (max-width: $breakpoint-mobile-max) {
      flex-basis: 15%;
      text-align: center;
    }
  }

  .team-logo {
    @media (min-width: $breakpoint-tablet-min) {
      height: 5em;
      width: 5em;
    }

    @media (max-width: $breakpoint-mobile-max) {
      padding-right: 0.5em;
    }
  }
}
