// General Page Structure
// -----------------------------------------------------------------+

html {
	overflow-x: hidden;
}

body {
	background: var(--color-backgroundPage);
	min-width: $container-width-mobile;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}

.site-content {
	padding-bottom: 50px;
	padding-top: 20px;
}

.container {
	margin: 0 auto;
	max-width: $container-width-desktop-wide;
	padding-left: $grid-gutter-width;
	padding-right: $grid-gutter-width;
	position: relative;
	width: 100%;
}

img {
	display: inline-block;
	margin: auto;
}
