
// Base Typography
// -----------------------------------------------------------------+

html {
	color: $color-text-default;
	font-family: $font-main;
	// uncomment appropriate line to set default type size
	// font-size: 100%; //16px
	// font-size: 87.5%; //14px
	font-size: 75%; //12px
	// font-size: 62.5%; //10px
	line-height: 1.5; //24px

	// Tablet
	@media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
		font-size: 87.5%; //14px
	}

	// Desktop +
	@media (min-width: $breakpoint-desktop-min) {
		font-size: 100%; //16px
	}
}

a {
	color: $color-link;
	transition: color $anim-speed ease-in;

	&:focus,
	&:hover {
		color: $color-link-hover;
	}
}

button {
	cursor: pointer;
	font-family: $font-main;
	font-size: 1rem;
}

p,
ul,
ol,
dl,
table,
address {
	margin-bottom: 1.5em;
}

li {
	margin-bottom: 0.5em;
}

dt {
	font-weight: 700;
	margin-bottom: 0.2em;
}

dd {
	margin-bottom: 0.5em;
}

h1 {
	color: $color-white;
	font-size: 2.375rem;
	font-weight: 800;
	line-height: 1.2;
	margin: 0;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0.5em;
}

h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.125rem;
}

.header-title {
	background: $color-grey-dark;
	color: $color-white;
	font-size: 1rem;
	margin-bottom: 0;
	padding: 1em;
	width: 100%;
}

hr {
	border-top: 2px solid $color-grey;
	margin: 1.5em 0;
}

.error-msg {
  padding: 2rem;
}
