@import '../../styles/config/variables';

// Global header
// -----------------------------------------------------------------+

.site-header {
  background: $color-grey-dark;
	border-bottom: 4px solid $color-white;
  padding: 10px 0;

	&--link {
		display: block;
		height: 3.5rem;
		margin: auto;
		text-decoration: none;
		width: 3.5rem;
	}

  &--logo {
		display: block;
		height: 100%;
  }

	&--back,
	.drawer--trigger {
		color: $color-white;
		font-size: 0.875rem;

		.svg-icon {
			fill: $color-grey-med;
			height: 1.5rem;
			width: 1.5rem;
		}

		&:hover,
		&:focus {
			color: $color-white;
			text-decoration: underline;

			.svg-icon {
				fill: $color-white;
			}
		}
	}
}
