@import '../../styles/config/variables';

// Global header
// -----------------------------------------------------------------+

.site-header {
	background: $color-backgroundPrimary;
	border-bottom: 4px solid $color-backgroundPrimaryText;
	height: 5rem;

	&--container {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $container-width-desktop-wide;
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
		position: relative;
		width: 100%;
	}

	&--link {
		display: block;
		height: 3.5rem;
		left: 50%;
		margin: 0;
		position: absolute;
		text-decoration: none;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 3.5rem;
	}

	&--logo {
		display: block;
		height: 100%;
	}

	&--back,
	.drawer--trigger {
		color: $color-backgroundPrimaryText;
		font-size: 0.875rem;

		.svg-icon {
			fill: $color-backgroundPrimaryText;
			height: 1.5rem;
			width: 1.5rem;
		}

		&:hover,
		&:focus {
			color: $color-backgroundPrimaryText;

			.svg-icon {
				fill: $color-backgroundPrimaryText;
			}
		}
	}
}
