@import '../../styles/config/variables';

// Global header
// -----------------------------------------------------------------+

.site-header {
  background: $color-grey-dark;
	border-bottom: 4px solid $color-white;
  padding: 10px 0;

	&--link {
		display: block;
		height: 3.5rem;
		margin: auto;
		text-decoration: none;
		width: 3.5rem;
	}

  &--logo {
		display: block;
		height: 100%;
  }

	.drawer--trigger {
		color: $color-white;
		position: absolute;
		right: $gutter-width;
		top: 50%;
		transform: translateY(-50%);
	}
}
